
<!--左边目录 --->
<ul class="nav navbar-nav side-nav">
  <li >
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#docModal" id="add_apidoc"  style="width: auto;height: auto">添加文档</button>
  </li>

  <%for(var i=0; i<api_docs.length;i++){%>
  <li >
    <a href="javascript:void(0)" data-toggle="collapse" data-target="<%='#doc_' + (i+1) %>" style="display:block">
      <i class="fa fa-fw"></i><%=api_docs[i].name%>
      <div>
        <button id="<%='edit_api_doc_'+i%>" name="editMDfile" uniqid="<%=api_docs[i].uniqID%>" class="fa fa-edit" style="width: auto;height: auto">编辑</button>
        <button id="<%='view_api_doc_'+i%>" name="viewMDfile" uniqid="<%=api_docs[i].uniqID%>" class="fa fa-dashboard" style="width: auto;height: auto">查看</button>
        <!--<button id="<%='delete_api_doc_'+i%>" name="deleteMDfile" uniqid="<%=api_docs[i].uniqID%>" disabled="true" class="fa fa-trash" style="width: auto;height:auto">删除</button>-->
      </div>
    </a>
  </li>
  <%}%>
</ul>

<div id="page-wrapper-right" aria-hidden="false" class="right-operation">
  <h3 >Hello,world!~~~ 欢迎~~~</h3>
  <p>操作指南:</p>
  <p>1. 点击左侧栏的接口文档名</p>
  <p>2. 点击"编辑"按钮,则可进入编辑接口文档界面。</p>
  <p>---2.1 进入编辑接口文档界面后,点击"增加API接口"按钮,输入内容。</p>
  <p>---2.2 点击"保存文档"按钮。</p>
  <p>3. 编辑完后,通过点击"查看"按钮,则可进入查看接口文档界面。</p>

  <script src="/xd-autotest-framework/js/docs/APIdoc.js"></script>
  <script src="/xd-autotest-framework/js/index/frame-right.js"></script>
</div>

