<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>展示接口文档</title>
  <% include common/header.ejs %>
</head>
<body>

<p>展示可编辑的接口文档</p>
<br />
  <% if (data.length) { %>
    <% var object = data[0]; %>
      <form id="form" class="form-inline" action="/Interface/showreq" method="POST">
      <div>
        <h2>url</h2>
        <label style="width: 200px">url</label>
        <input name="url" type="text" value="<%- object.url %>" />
      </div>
      <div>
        <h2>header</h2>
        <% for(var key in object.headers){
            var value = object.headers[key];%>
        <label style="width: 200px"><%- key %></label>
        <input name="<%- key %>" type="text" value="<%- value %>" /><br />
        <% } %>
      </div>
      <div>
        <h2>queryParam</h2>
        <% for(var key in object.queryParam){
          var value = object.queryParam[key];%>
        <label style="width: 200px"><%- key %></label>
        <input name="<%- key %>" style="width:30%" type="text" value='<%- value %>' /><br />
        <% } %>
      </div>
      <div>
        <h2>other</h2>
        <label style="width: 200px">method</label>
        <input name="method" type="text" value="<%- object.method %>" /><br />

        <label style="width: 200px">dev</label>
        <input name="dev" type="text" value="<%- object.dev %>" /><br />

        <label style="width: 200px">disabled</label>
        <input id="disabled" type="text" value="<%- object.disabled %>" /><br />

        <label style="width: 200px">name</label>
        <input name="name" type="text" value="<%- object.name %>" /><br />

        <!--<label style="width: 200px">version</label>-->
        <!--<input name="version" type="text" value="<%- object.version %>" /><br />-->

        <label style="width: 200px">description</label>
        <input name="description" type="text" value="<%- object.description %>" /><br />

        <label style="width: 200px">mode</label>
        <input name="mode" type="text" value="<%- object.mode %>" /><br />
      </div>
      <div>
        <div class="btn" id="runBtn">运行</div>
        <div class="btn" id="saveBtn">保存</div>
      </div>
      </form>
  <% } %>

</body>
<% include common/footer.ejs %>
<script src="/postman/showdoc.js"></script>
</html>
