<div class="container-fluid">

  <ul class="nav navbar-nav side-nav">
    <li id="12121">
      <div class="form-group input-group">
        <input type="text" class="form-control" placeholder="搜索用例" onkeydown="onKeyDown(data)" id="search-input" style="width: 225px">
      </div>
    </li>
    <li style="height: 49px">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalForCollect" id="addtestcasecollection" style="width: 225px;height: 34px">添加用例集合</button>
    </li>
    <li>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" id="addtestcase" style="width: 225px;height: auto">添加用例</button>
    </li>
    <li>
      <div class="modal-body">
        <form action='/ShowDoc/operatfile' method="post" id="fileForm" enctype="multipart/form-data">
          <label class="control-label" for="inputSuccess"><font color="#FFFFFF" size="4">导入用例</font></label>
          <input type="file" id="uploadfile" name="submit" accept=".postman_collection" onchange="upfile()">
        </form>
      </div>
    </li>
    <% data.forEach(function(record,index){ %>
    <li>
      <a href="javascript:void(0)" data-toggle="collapse" data-target="<%='#info' + index%>" style="display:block">
        <i class="fa fa-fw fa-arrows-v"></i> <%=record.name%> <i class="fa fa-fw fa-caret-up"></i></a>
      <ul id="<%='info' + index%>" class="collapse">
        <li>
          <%record.ReqItems.forEach(function (reqItem,i) {%>
            <a href="javascript:void(0)" id="<%=reqItem.id%>" onclick="requestItem(this)"><%=reqItem.name%></a>
          <%})%>
        </li>
      </ul>
    </li>
    <% }) %>
  </ul>

  <div id="page-wrapper-right" aria-hidden="false" class="right-operation">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          <small>用例详情</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-table"></i> 用例
          </li>
        </ol>
      </div>
    </div>
    <!-- /.row -->

    <% if (data.length) { %>
    <% var object = data[0];console.log(object) %>
    <form id="form" class="form-inline" action="/Interface/showreq" method="POST">
      <div>
        <h2>url</h2>
        <label style="width: 200px">url</label>
        <input name="url" type="text" value="<%- object.url %>"/>
      </div>
      <div>
        <h2>header</h2>
        <% for(var key in object.headers){
          var value = object.headers[key]; %>
        <label style="width: 200px"><%- key %></label>
        <input name="<%- "header" + key %>" type="text" value="<%- value %>"/><br/>
        <% } %>
      </div>
      <div>
        <h2>queryParam</h2>
        <% for(var key in object.queryParam){
          var value = object.queryParam[key]; %>
        <label style="width: 200px"><%- key %></label>
        <input name="<%- "queryParam" + key %>" style="width:30%" type="text" value='<%- value %>'/><br/>
        <% } %>
      </div>
      <div>
        <h2>other</h2>
        <label style="width: 200px">method</label>
        <input name="method" type="text" value="<%- object.method %>"/><br/>

        <label style="width: 200px">dev</label>
        <input name="dev" type="text" value="<%- object.dev %>"/><br/>

        <label style="width: 200px">disabled</label>
        <input id="disabled" type="text" value="<%- object.disabled %>"/><br/>

        <label style="width: 200px">name</label>
        <input name="name" type="text" value="<%- object.name %>"/><br/>

        <!--<label style="width: 200px">version</label>-->
        <!--<input name="version" type="text" value="<%- object.version %>" /><br />-->

        <label style="width: 200px">description</label>
        <input name="description" type="text" value="<%- object.description %>"/><br/>

        <label style="width: 200px">mode</label>
        <input name="mode" type="text" value="<%- object.mode %>"/><br/>
      </div>
      <div>
        <h2>prescript</h2>
        <textarea name="prescript" style="width: 40%;height: 200px"></textarea><br/>
        <h2>testscript</h2>
        <textarea name="testscript" style="width: 40%;height: 200px"></textarea><br/>
      </div>
      <div>
        <div class="btn" id="runBtn">运行</div>
        <div class="btn" id="saveBtn">保存</div>
      </div>
    </form>
    <% } %>

</div>

  <!-- 模态框添加用例（Modal） -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close"
                  data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
            添加用例
          </h4>
        </div>
        <form id="formModel" class="form-inline" action="/ShowDoc/addtestcase" method="POST">
          <div class="modal-body">
          <label>选择所属集合</label>

          <select class="form-control" name="ReqFolderID">
          <%data.forEach(function (record) {%>
          <option id="<%=record.id%>" value="<%=record.id%>"><%=record.name%></option>
          <%})%>
          </select>
          </div>
          <div class="modal-body">
            <h2>api版本号</h2>
            <label style="width: 200px">api版本号</label>
            <input name="version" type="text"/>
          </div>
          <div class="modal-body">
            <h2>name</h2>
            <label style="width: 200px">name</label>
            <input name="name" type="text"/>
          </div>
          <div class="modal-body">
            <h2>是否在用</h2>
            <label style="width: 200px">是否在用</label>
            <input name="disabled" type="text"/>
          </div>
          <div class="modal-body">
            <h2>接口说明</h2>
            <label style="width: 200px">接口说明</label>
            <input name="description" type="text"/>
          </div>
          <div class="modal-body">
            <h2>开发人员</h2>
            <label style="width: 200px">开发人员</label>
            <input name="dev" type="text"/>
          </div>
          <div class="modal-body">
            <h2>测试人员</h2>
            <label style="width: 200px">测试人员</label>
            <input name="tester" type="text"/>
          </div>
          <div class="modal-body">
            <h2>url</h2>
            <label style="width: 200px">url</label>
            <input name="url" type="text"/>
          </div>
          <div class="modal-body">
            <h2>header</h2>
            <label style="width: 200px">clientIp</label>
            <input name="headerclientIp" type="text"/><br/>
            <label style="width: 200px">module</label>
            <input name="headermodule" type="text"/><br/>
            <label style="width: 200px">version</label>
            <input name="headerversion" type="text"/><br/>
            <label style="width: 200px">clientType</label>
            <input name="headerclientType" type="text"/><br/>
            <label style="width: 200px">sessionToken</label>
            <input name="headersessionToken" type="text"/><br/>
            <label style="width: 200px">deviceId</label>
            <input name="headerdeviceId" type="text"/><br/>
          </div>
          <div class="modal-body">
            <h2>content-type</h2>
            <label style="width: 200px">content-type</label>
            <input name="mode" type="text"/>
          </div>
          <div class="modal-body">
            <h2>请求方式</h2>
            <label style="width: 200px">请求方式</label>
            <input name="method" type="text"/>
          </div>
          <div class="modal-body">
            <h2>参数</h2>
            <label style="width: 200px">参数</label>
            <input name="queryParamreq" type="text" style="width: 300px"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitBtn">
              提交用例
            </button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>

  <!-- 模态框添加用例集合（Modal） -->
  <div class="modal fade" id="myModalForCollect" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close"
                  data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
            添加用例集合
          </h4>
        </div>
        <form id="formModelForCollect" class="form-inline" action="/ShowDoc/addtestcasecollect" method="POST">
          <div class="modal-body">
            <h2>用例集合名</h2>
            <label style="width: 200px">用例集合名</label>
            <input name="name" type="text"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitcollect">
              提交用例集合
            </button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>

</div>

<script src="/xd-autotest-framework/js/index/frame-right.js"></script>
<script src="/xd-autotest-framework/js/testcase/testcase.js"></script>
