<div class="container-fluid">

  <ul class="nav navbar-nav side-nav right-operation">
    <% data.forEach(function(record,index){ %>
    <%console.log(record)%>
    <li>
      <a href="javascript:void(index)" data-toggle="collapse" data-target="<%='#info' + index%>"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i
          class="fa fa-fw fa-caret-up"></i></a>
      <ul id="<%='info' + index%>" class="collapse">
        <li>
          <div class="row" align="center"><a href="#">Dropdown Item</a><i><button class="btn btn-xs btn-primary" type="button">run</button>
              <button class="btn btn-xs btn-success" type="button"
                       onclick="addModel(this)">view</button></i></div>
        </li>
      </ul>
    </li>
    <% }) %>
  </ul>

  <div id="page-wrapper-right" aria-hidden="false">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          <small>运行结果</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-table"></i> 用例
          </li>
        </ol>
      </div>
    </div>
    <!-- /.row -->

    <% if (data.length) { %>
    <% var object = data[0];console.log(object) %>
    <form id="form" class="form-inline" action="/Interface/showreq" method="POST">
      <div>
        <h2>url</h2>
        <label style="width: 200px">url</label>
        <input name="url" type="text" value="<%- object.url %>"/>
      </div>
      <div>
        <h2>header</h2>
        <% for(var key in object.headers){
          var value = object.headers[key]; %>
        <label style="width: 200px"><%- key %></label>
        <input name="<%- "header" + key %>" type="text" value="<%- value %>"/><br/>
        <% } %>
      </div>
      <div>
        <h2>queryParam</h2>
        <% for(var key in object.queryParam){
          var value = object.queryParam[key]; %>
        <label style="width: 200px"><%- key %></label>
        <input name="<%- "queryParam" + key %>" style="width:30%" type="text" value='<%- value %>'/><br/>
        <% } %>
      </div>
      <div>
        <h2>other</h2>
        <label style="width: 200px">method</label>
        <input name="method" type="text" value="<%- object.method %>"/><br/>

        <label style="width: 200px">dev</label>
        <input name="dev" type="text" value="<%- object.dev %>"/><br/>

        <label style="width: 200px">disabled</label>
        <input id="disabled" type="text" value="<%- object.disabled %>"/><br/>

        <label style="width: 200px">name</label>
        <input name="name" type="text" value="<%- object.name %>"/><br/>

        <!--<label style="width: 200px">version</label>-->
        <!--<input name="version" type="text" value="<%- object.version %>" /><br />-->

        <label style="width: 200px">description</label>
        <input name="description" type="text" value="<%- object.description %>"/><br/>

        <label style="width: 200px">mode</label>
        <input name="mode" type="text" value="<%- object.mode %>"/><br/>
      </div>
      <div>
        <h2>prescript</h2>
        <textarea name="prescript" style="width: 40%;height: 200px"></textarea><br/>
        <h2>testscript</h2>
        <textarea name="testscript" style="width: 40%;height: 200px"></textarea><br/>
      </div>
      <div>
        <div class="btn" id="runBtn">运行</div>
        <div class="btn" id="saveBtn">保存</div>
      </div>
    </form>
    <% } %>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
              模态框（Modal）标题
            </h4>
            <input id="test" value="123">
          </div>
          <div class="modal-body">
            在这里添加一些文本
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary">
              提交更改
            </button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->

  </div>
</div>
<!-- /.container-fluid -->

  <script src="/xd-autotest-framework/js/index/frame-right.js"></script>
  <script src="/postman/testcase.js"></script>
